.icon{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        /* margin-right: 1rem; */
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
.name{
        margin-top: 17px;
        font-family: cursive;
        font-weight: 100;
        font-size: larger;
        padding-left: 1px;
        color:#ffffff
        
    }
.nav-item{
    padding-right:1em;
    
}
.nav-link{
    color:white !important;
    font-family: cursive;
}
.navbar-collapse{
    padding-left:15em;  
}
.dropdown{
    padding-left: 25em;
}
.bg-light {  
    background-color:#142638 !important;
}
h6{
    color:white;
}
li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn{
      color:white;
      font-family: cursive;
  }