.sc-chat-window{
    height: calc(100% - 200px) !important;
}
.sc-message--text{
    padding-top:3px !important;
    padding-left:17px !important;
    padding-right:0px !important;
    padding-bottom:10px !important;
}