* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
section{
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}