.reviewPage{
    margin-left: 8em;
    margin-right: 21em;
}
.imageCard{
    padding-left: 18em;
    padding-top: 41px;
    padding-bottom: 42px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}
.reviewTitle{
    padding-left: 14em;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 5em;
}
.otherFeatures{
    padding-left: 17em;
}
.profile{
    padding-top: 18px;
    padding-right: 15px;
}
.reviewHeadline{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.reviewText{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.reviewName{
    width: 21em;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.overall{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2em;
}
.publicName{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.features{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.logistic{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nameChange{
    padding-top: 12px;
    padding-bottom: 12px;
}
.quality{
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
.reviewSubmit{
    margin-left: 18em;
    width: 7em;
    background: green;
}