@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

.checkout {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: auto;
}
.mainheading {
  background: #2d2d2d;
  text-align: center;
  width: 100%;
  padding: 1px;
  margin-bottom: 2px;
}
.mainheading h2 {
  color: whitesmoke;
  font-size: 30px;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.address-card {
  text-align: center;
}
.address-card p {
  font-size: 15px;
}
td {
  text-align: left;
  color: #123456;
  font-size: 20px;
  width: auto;
  padding: 2px;
}
.address-heading {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}
#email {
  color: black;
}
.username {
  color: brown;
  font-weight: bolder;
}
.fa-truck {
  color: blue;
  margin: 2px;
}
.cartitem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cartitem div {
  margin: 5px;
}

.cart {
  text-align: center;
  margin-top: 1px;
}
td {
  margin: 0;
  width: 25px;
  text-align: center;
}
td img {
  height: auto;
  width: auto;
}
tr {
  background: lightgray;
}
.cart table {
  width: 100%;
  margin: 2px;
}
.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 10px;
}
.block button {
  background-color: #123456;
  padding: 15px;
  color: white;
  font-size: 15px;
  border: none;
  width: 200px;
  border-radius: 1px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  border: 0;
  padding: 5px;
  margin-bottom: 2px;
  width: 250px;
}
input[type="number"] {
  width: 100px;
}
.cards-info button {
  padding: 10px;
  background: #010701;
  border: none;
  width: 100px;
  color: whitesmoke;
  font-weight: bold;
}
.allCards {
  overflow-y: scroll;
  height: 250px;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  /* width: 250px; */
  padding: 5px;
  margin: 1px;
  background: #3367a3;
}

.cardDetails p {
  margin: 0;
  font-weight: bold;
  color: whitesmoke;
}
.addCardButton button {
  text-align: center;
  width: 100%;
}
.card-view {
  display: flex;
  flex-direction: row;
}
input[type="radio"] {
  width: 50px;
}
.cardSelect {
  padding-top: 50px;
}
