@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

.checkout {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: auto;
}
.mainheading {
  text-align: center;
  width: 100%;
  padding: 1px;
  margin-bottom: 2px;
  height: 1em;
}
.mainheading h2 {
  background: #66ccaf;
  color: black;
  font-size: 30px;
  padding: 0.1em
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.address-card {
  margin-top: 14px;
  margin-bottom: 15px;
  text-align: center;
  margin-left: 1em;
}
.address-card p {
  font-size: 15px;
}
.address-heading {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 20px;
  font-weight: bold;padding : 5px;
}
.credit-heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #a3beab;
  padding: 10px 30px;
}
#email {
  color: black;
}
.username {
  color: brown;
  font-weight: bolder;
}
.fa-truck {
  color: blue;
  margin: 2px;
}
.cartitem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cartitem div {
  margin: 5px;
}
.logo-heading{
  margin-right:0.5em;
}

.check-cart {
  text-align: center;
  margin-top: 1px;
  margin-left: 69px;
  height: 20em;
  background-image: linear-gradient(rgb(120, 170, 165), rgb(209, 196, 196));
  border-radius:10px;
}

td {
  margin: 0;
  width: 25px;
  text-align: center;
}
td img {
  height: auto;
  width: auto;
}
tr {
  font-weight:bolder;
}
.check-cart table{
  width: 100%;
  margin: 2px;
  height: 15em;
  
}
.check-table{
  background-image: linear-gradient(rgb(120, 170, 165), rgb(209, 196, 196));
  border-radius:10px;
}
.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 10px;
}
.block button {
  margin-top: 3em;
  background-color:#2edbaa;
  padding: 15px;
  color: black;
  font-size: 15px;
  border: none;
  width: 200px;
  border-radius: 1px;
}
.cards {
  display: flex;
  margin-top: 4em;
  margin-left: 63px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  border: 0;
  padding: 5px;
  margin-bottom: 2px;
  width: 250px;
}
input[type="number"] {
  width: 100px;
}
.cards-info button {
  padding: 10px;
  background: #010701;
  border: none;
  color: whitesmoke;
  font-weight: bold;
}
.allCards {
  overflow-y: scroll;
  height: 27em;
  width: 32em;
  margin-left: 3.5em;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top:0em
}
#cardDetails {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-image: linear-gradient(rgb(165, 209, 184), rgb(241, 236, 236));
  width: 19em;
  padding: 5px;
  margin: 1em;
}

#cardDetails p {
  margin: 0;
  font-weight: bold;
  color: black;
}
.addCardButton button {
  text-align: center;
  width: 100%;
}
.card-view {
  display: flex;
  flex-direction: row;
}
input[type="radio"] {
  width: 50px;
}
.cardSelect {
  padding-top: 50px;
}
.cardSelect button{
    color: red;
    width: 23px;
    padding: 0.2em;
    border: 1px transparent;
}
