body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.parahelp{
text-align: center;
position: absolute;
top: 6.5em;
left: 11em;
color: white;
font-weight: bold;
font-family: serif;
font-size: 35px;
}
.contact{
    width: '75em';
    height: '35em';
    padding-left: '5em';
    padding-right: '5em'
}
.fname{
  padding-right: 2em;
}
.help{
    position: absolute;
    top: 18em;
    left: 24em;
    color: white;
    font-weight: bold;
    font-family: serif;
    font-size: 16px;
}
/* input[type=text], select,textarea {
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  } */
  .commentArea{
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .firstname{
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .signupemail{
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .lastName {
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .emailid{
    width: 25em;
    padding: 12px;
    padding-left:2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .contactSubmit{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .post{
    padding-top: 2em;
  }
   /* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .row{
    padding-bottom: 2em;
  }
  .lname{
    padding-right: 2em;
  }
  .email{
  padding-right: 2em;
}
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .form{
    padding-left: 5em;
    padding-top: 2em;
    
  }
  .comment{
    padding-right:2em;
  }
  
  .buttonIn { 
    width: 300px; 
    position: relative; 
} 

.clearbtn{
  top: 0;
  border-radius: 5px;
  right: 0px;
  border: none;
  top: 7px;
  height: 48px;
  cursor: pointer;
  color: white;
  width: 69px;
  background-color: #1e90ff;

}
.errors{
  color:red;
}
.btnIn{
  margin-left: 593px;
  margin-top: -70px;
}
/* button { 
  top: 0;
  border-radius: 5px;
  right: 0px;
  border: none;
  top: 7px;
  height: 48px;
  cursor: pointer;
  color: white;
  width: 69px;
  background-color: #1e90ff;
}  */
.postcard{
  padding-left: 4em;
}
.hell  {
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
  margin-bottom: 20px;
}