.DropImageFile{
    margin-top:100px;
}
.drop-btn{
    margin-top:30px;
    margin-left:500px;
}
.dp-button{
    width:100px;
    border-radius:5px;
    background-color: beige;
}
#dropdown{
    margin-top: 1em;
    margin-left: 30em;
}