header{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* background-color: #a5f0d8; */
    /* background: #585757 */
    background: #316f58;

}

header .logo a{
    font-size:0.8em;
    /* color: #698073; */
    position: absolute;
    left: 103px;
    top: 14px;
    font-size: 29px;
    font-weight: 100;
    color: whitesmoke;
    font-family: system-ui;
}
.headerdropdown{
    margin-left: 20px;
    margin-top: -6px;
 
}

#dropdown-basic-button
{
    border-radius: 3px;
    border-style: none;
    background-color: #32b1a4;
    margin-left: 17px;
}
header nav{
    font-family: 'emoji';
    font-weight: bold;
    margin-top: 1em;
    display: flex;
    margin-left: 21em;
    z-index: 10000;
    position: absolute;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}
nav ul li a:hover{
    color: lightseagreen;
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart span{
    position: absolute;
    top:-12px;
    right: -7px;
    background-color:red ;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}
@media (max-width: 650px){
    header ul{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        left: 0;
    }
}

