.logincontainer{
    margin-top: 2em;
    margin-left: 3em;
}
.label-font{
   color:#2d2c2c;
   font-weight: bold;
   font-size: 1em;
   font-family: 'Source Serif Pro', serif;
}
#loginh2{
    margin-left: 3em;
    font-family: 'Piedra', cursive;
}
#loginh3{
    color:#2d2c2c;
    font-family: 'Source Serif Pro', serif;
}

.msg{
    margin-top:1em;
    font-family: 'Source Serif Pro', serif;
    color:white;
}
.links{
    margin-left:0.5em;
    font-weight:bold;
    font-family: 'Source Serif Pro', serif;
    font-size: large;
    color:white;
}
.forgot-link{
    margin-right:75px;
    font-family: 'Source Serif Pro', serif;
    color: white;
}
.loginForm{ 
  margin-left:25em;
  width:500px;
  position: relative;
  background: linear-gradient(#3beedc,#1b1b1b);
  border-radius: 10px;
  padding: 3em;
}
.form-control{
    font-size:0.9em;
    font-family: 'Source Serif Pro', serif;    
}
.login-btn{
    padding:0.5em;
    width: 22.5em;
    border-radius:10px;
    font-size: large;
    margin-top: 1em;
}
#error{
    color:tomato;
    padding-top:20px;
}
.login-row{
    padding:3em;
}


    
    
