.formforgot{
    margin-top: 7em;
    margin-left: 25em;
    width: 30em;
    border-radius: 1em;
    background: linear-gradient(#3caea3,#8d9190);
}
.forgot{
    padding-top:3em;
    padding-left: 3em;
    padding-bottom:3em;
}