.formforgot{
    margin-top: 7em;
    margin-left: 25em;
    width: 30em;
    border-radius: 1em;
    background: linear-gradient(#3caea3,#656868);
}

.forgot{
    width:300px;
    height:300px;
    padding-top:4em;
    padding-left: 3em;
   
}
#email{
    width:28em;
    
}
.send-btn{
    padding:0.5em;
    border-radius:10px;
    width: 25em;
}
#success{
    color:green;
    margin-top:50px;
}