.formforgot{
    margin-top: 7em;
    margin-left: 25em;
    width: 30em;
    border-radius: 1em;
    background: linear-gradient(#3caea3,#656868);
}

.forgot{
    width:300px;
    height:300px;
    padding-top:4em;
    padding-left: 3em;
   
}
#mail{
    width:395px;
    
}
.send-btn{
    padding:0.5em;
    border-radius:10px;
    width: 25em;
}
#forgot-error{
    color:tomato;
    padding-top:10px;
    width:400px;
}
#forgot-success{
    color:rgb(62, 245, 78);
    margin-left: 4em;
    width:400px;
}