nav .nav-cart{
  cursor: pointer;
  position: relative;
  right: 53px;
    top: -33px;
}
nav .nav-cart span{
  position: absolute;
  top:-12px;
  right: -7px;
  background: crimson;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  z-index: -1;
}
#dropdownMenuButton{
  margin-left:90px;
}
