* {
    margin: 0;
  }
    
  
  header {
    background-color:lightseagreen !important;
    padding: 10px 0;
  }

  
  .container {
  /*   width: 70%; */
    margin: 0 auto;
  }
  
  
  .sign-up a:hover {
    color: #270B36;
  }
  
  #brand {
    margin: 0 20px;
  }
  
  #brand span{
   font: 30px "Abril Fatface", cursive;
  }
  .col-4 a{
      color: lightseagreen;
  }
  
  #brand i {
    font-size: 2em;
    margin-right: 5px;
  }
  
  nav {
    color: #ecf0f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul {
    margin:auto;
    padding-right:8em;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: black;
    padding: 3em;
    text-decoration: none;
   
  }
  nav a:hover {
    color: rgb(240, 245, 192)
  }
  .sign-up{
    margin-right: 20px;
    color: lightseagreen;
  }
  .typesearch{
      width:30em;
      padding:6px;
      border-radius:5px;
  }
  .search-bar{
      width:100%;
  }
  .col-7{
      padding-top:1em;
      padding-left:111px;
  }
  .search-btn{
      margin-top:0.5em;
      min-width: 100px;
      width: 2em;
      margin-bottom: 1em;
      padding:6px;
      border-radius: 5px;
      background-color: lightseagreen;
  }
  .dropdown{
    padding-left:65px;
  }
  .col-3{
      width: 200px;
      margin-top:1.4em;
      margin-left:0em;
  }
  .col-3 > .btn {
    margin-left: 130px;
      width:5em;
  }
  .name{
    font-family: 'Piedra', cursive;
    font-size: 25px;
    padding-top:1em;
  }
  li{
     margin:auto;
  }
  .col-2{
      display:flex;
  }
  .logo{
      margin-top:1em;
      width:40px;
      height:40px;
  }
  .cart-image{
      width:40px;
      margin-left:15px;
  }
  .d-block{
      padding-top:2em;
      padding-bottom: 2em;
      margin:auto;
      width: 80%;
      height:500px;
  }
  
  .carousel-icon{
      background-color: darkslategrey;
      width:30px;
      height:30px;
  }


 