.logout-form{
  margin-left:25em;
  width:500px;
  position: relative;
  background: linear-gradient(#97bdba,#8d8787);
  border-radius: 10px;
  padding: 3em;
  margin-top: 100px;
}    

p{
    color: black;
}

.logout-link{
    background-color: #008CBA;
    border-radius: 5px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}