.reset-container{
    margin-left: 45px;
    margin-top: 76px;
}
.label-font{
   color:#2d2c2c;
   font-size: 1em;
   font-family: 'Source Serif Pro', serif;
}
.msg{
    margin-top:1em;
    font-family: 'Source Serif Pro', serif;
    color:white;
}

.resetform{ 
  margin-left:25em;
  width:500px;
  position: relative;
  background: linear-gradient(#3beedc,#1b1b1b);
  border-radius: 10px;
  padding: 3em;
}
.form-control{
    font-size:0.9em;
    font-family: 'Source Serif Pro', serif;    
}
.login-btn{
    padding:0.5em;
    width: 22.5em;
    border-radius:10px;
    font-size: large;
    margin-top: 1em;
}

.resetlink{
    text-decoration: underline;
    margin-left: 5px;
}
.resetpara{
    margin-left:490px;
    margin-top:30px;
    color:darkgreen;
}
#resetpara{
    display:none
}
.reseterror{
    color: tomato;
}