p, div {
  font-family: Lato;
}

/* 
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/

.wrapper {
  height: 690px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
.inputfield{
  width: 300px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}


.createbutton{
  margin-bottom:5px;
}
.formlabel{
  margin-bottom: 0.5em;
  color: black;
  font-weight: lighter;
  font-family: sans-serif;
}
.formpara{
  color: black;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-left: 25px;
    

}

.form-wrapper {
  width: 500px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 80px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
}

/* .form-wrapper > h2 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
} */

form {
  width: 100%;
}

.info {
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 15px;
}

/* label {
  margin-bottom: 0.5em;
  color: black;
  font-weight: lighter;
} */

/* input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
  width: 290px;
} */
.heading{
  font-family:sans-serif;
  margin-left: 40px;
  margin-bottom: 30px;
  font-weight: bolder;
}

input::placeholder {
  font-size: 1.2em;
  font-style: normal;
  font-family:sans-serif;
  font-weight: lighter;
  color:lightgray;
}

.createbutton {
  border-radius: 4px;
    background-color: forestgreen;
    color: #fefefe;
    height: 40px;
    width:100%;
}
/* button:hover {
  background-color: #4A4E69;
  color: #fefefe;
} */
#errors{
  color:red;
}
.errors {
  color:#db2269;
  font-size: 0.8em;
  display: relative;
}

.fullName,
.email,
.password,
.confirmpassword,
.contactnum {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.fullName {
  width: 100%;
}

.email,
.password {
  width: 100%;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.checkbox{
  position: absolute;
}
.info .p{
  margin-left: 40px;
  margin-top: 10px;
  color:black
 
}
a{
  color:dodgerblue;
  font-family:sans-serif;
}
.loginlink{
  color:dodgerblue;
  font-family: sans-serif;
  margin-left:10px;
}